openapi: 3.1.0
info:
  title: MewCP Auth API
  description: |


    B2B API for connecting your audience to MCP-powered tools via OAuth or static credentials.

    MCP servers require two things to work for your users: **hosting** and **credential management**.
    MewCP provides both. You call this API from your backend, MewCP handles everything else -
    OAuth handshakes, token storage, automatic refresh, and encrypted credential vaults.
    Your users connect their accounts; your backend only ever holds an opaque `externalUserId`.

    ## Authentication

    All endpoints require an **Account API Key** passed as a Bearer token:

    ```
    Authorization: Bearer mewcp_acct_YOUR_KEY
    ```

    Generate an Account API Key from your MewCP dashboard under **Developer -> Account API Keys**.

    ## OAuth vs Static Credentials

    | | OAuth | Static Credentials |
    |---|---|---|
    | **Use when** | Provider supports OAuth (Google, Slack, GitHub, Notion…) | Provider uses API keys or secrets (Gemini, Razorpay, Firecrawl…) |
    | **User experience** | Standard OAuth popup/redirect login | Hosted form where user pastes their key |
    | **Token refresh** | Automatic - MewCP refreshes before expiry | Not applicable |
    | **Your backend stores** | Nothing - only `externalUserId` | Nothing - only `externalUserId` |

    ## Integration guides

    For step-by-step integration instructions, including frontend popup setup, local testing flows,
    and how to handle success/error callbacks, see the dedicated guides:

    - [OAuth Integration Guide](/mewcp/auth-api/oauth-integration)
    - [Static Credentials Integration Guide](/mewcp/auth-api/static-credentials)

    ## Quick reference

    **OAuth flow:**
    1. Register your OAuth app in the MewCP dashboard under **Credentials → OAuth Apps**
    2. Call `POST /oauth/{provider}/start` with `externalUserId` (+ optional `frontendCallbackUrl`)
    3. Open the returned `authUrl` for your user - as a popup or direct browser open
    4. MewCP completes the handshake, encrypts and stores the tokens

    **Static credentials flow:**
    1. Call `POST /credentials/static/{providerSlug}/connect` with `externalUserId` (+ optional `frontendCallbackUrl`)
    2. Send the returned `hostedFormUrl` to your user - it expires in 5 minutes
    3. User fills in their API key on MewCP's hosted page
    4. MewCP encrypts and stores the credentials in vault

  version: 1.0.0
  contact:
    name: MewCP Support
    email: contact@asthetech.com
    url: https://mewcp.com

servers:
  - url: https://gateway.mewcp.com
    description: Production
  # - url: http://localhost:5656
  #   description: Local development

security:
  - AccountApiKey: []

tags:
  - name: OAuth
    description: Initiate OAuth authorization flows for your audience. Requires an OAuth app registered in the MewCP dashboard first.
  - name: Static Credentials
    description: Generate hosted form URLs so audience can submit static API keys or tokens.
  - name: Audience
    description: List, inspect, and revoke audience member credentials.

components:
  securitySchemes:
    AccountApiKey:
      type: http
      scheme: bearer
      description: |
        Account API key with `mewcp_acct_` prefix.
        Generate one from **Developer -> Account API Keys** in your MewCP dashboard.
      bearerFormat: mewcp_acct_...

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          example: not_found
        message:
          type: string
          example: End-user not found

    ExternalUserMeta:
      type: object
      description: Optional metadata about the audience member. Stored alongside their credentials for display in the MewCP dashboard.
      properties:
        name:
          type: string
          example: Jane Smith
        email:
          type: string
          example: jane@example.com
        username:
          type: string
          example: janesmith

    Credential:
      type: object
      properties:
        credentialId:
          type: string
          description: Unique public credential ID
          example: 9e9c513174def62142b1e621fa8bc98e
        providerSlug:
          type: string
          example: github
        label:
          type: string
          example: janesmith
        authType:
          type: string
          enum: [oauth, static]
        scopes:
          type: array
          items:
            type: string
          example: [repo, read:user]
        expiresAt:
          type: string
          format: date-time
          nullable: true

    EndUser:
      type: object
      properties:
        externalUserId:
          type: string
          description: Your internal identifier for this user
          example: user_abc123
        meta:
          $ref: "#/components/schemas/ExternalUserMeta"
          nullable: true
        connectedProviders:
          type: array
          items:
            type: string
          description: List of provider slugs this user has credentials for
          example: [github, linear]
        credentialCount:
          type: integer
          example: 2
        lastUpdated:
          type: string
          format: date-time

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: not_found
            message: End-user not found
    Unauthorized:
      description: Missing or invalid account API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error: unauthorized
            message: Invalid or revoked account API key
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

paths:
  /oauth/{provider}/start:
    post:
      operationId: startOAuthFlow
      summary: Start OAuth flow for an audience member
      description: |
        Generates an authorization URL to redirect your audience member to. After the user
        authorizes, MewCP stores the credential under their `externalUserId`.

        **Prerequisite:** Register an OAuth app for the provider first in the MewCP dashboard
        under **Credentials -> OAuth Apps**. This step is done once per provider.

        After success, subsequent MCP proxy calls include `x-external-user-id: {externalUserId}`
        in the request headers and MewCP resolves the right credential automatically.
      tags: [OAuth]
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
          description: Provider slug (e.g. `Google`, `github`, `Slack`,  `notion`)
          example: github
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [externalUserId]
              properties:
                externalUserId:
                  type: string
                  description: Your internal user identifier. Used to associate the credential with your user.
                  example: user_abc123
                frontendCallbackUrl:
                  type: string
                  description: URL to redirect the user to after OAuth completes (receives `?provider=github&success=true`)
                  example: https://yourapp.com/settings/connections/callback
                appId:
                  type: string
                  description: Specific OAuth app ID. Defaults to the registered app for this provider.
                externalUserMeta:
                  $ref: "#/components/schemas/ExternalUserMeta"
            example:
              externalUserId: user_abc123
              frontendCallbackUrl: https://yourapp.com/settings/connections/callback
              externalUserMeta:
                name: Jane Smith
                email: jane@example.com
      responses:
        "200":
          description: Authorization URL ready. Redirect your user to `authUrl`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  authUrl:
                    type: string
                    description: Redirect your audience member to this URL
                  state:
                    type: string
                    description: CSRF state token (managed internally, no action needed)
              example:
                authUrl: "https://accounts.google.com/o/oauth2/v2/auth?client_id=YOUR_CLIENT_ID&redirect_uri=https%3A%2F%2Fgateway.mewcp.com%2Foauth%2Fcallback&response_type=code&state=a38a39dfed2e4e6f7ba164a7580d716&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fgmail.modify+openid+email+profile"
                state: "a38a39dfed2e4e6f7ba164a7580d716"
        "400":
          description: OAuth app not configured or invalid provider
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Error"
                  - type: object
                    properties:
                      setupRequired:
                        type: boolean
                        description: True when an OAuth app needs to be registered in the dashboard first
              examples:
                app_missing:
                  summary: OAuth app not registered
                  value:
                    error: oauth_app_required
                    message: "No OAuth app configured for provider 'github'. Please register your OAuth client credentials in the MewCP dashboard before connecting."
                    setupRequired: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /credentials/static/{providerSlug}/connect:
    post:
      operationId: startStaticCredentialFlow
      summary: Get hosted form URL for audience member static credentials
      description: |
        Issues a short-lived (5 min) signed URL pointing to a MewCP-hosted form where
        your audience member can submit their static API key or token.

        Send this URL to your user however you prefer (redirect, email, in-app link).
        When they submit, MewCP stores the credential under their `externalUserId`.

        After success, subsequent MCP proxy calls include `x-external-user-id: {externalUserId}`
        and MewCP resolves the right credential automatically.
      tags: [Static Credentials]
      parameters:
        - in: path
          name: providerSlug
          required: true
          schema:
            type: string
          description: Provider slug for the static credential type
          example: linear
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [externalUserId]
              properties:
                externalUserId:
                  type: string
                  description: Your internal user identifier
                  example: user_abc123
                frontendCallbackUrl:
                  type: string
                  description: URL to redirect the user to after submitting credentials
                  example: https://yourapp.com/settings/connections/callback
                externalUserMeta:
                  $ref: "#/components/schemas/ExternalUserMeta"
            example:
              externalUserId: user_abc123
              frontendCallbackUrl: https://yourapp.com/settings/connections/callback
              externalUserMeta:
                name: Jane Smith
                email: jane@example.com
      responses:
        "200":
          description: Hosted form URL. Send this to your audience member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  hostedFormUrl:
                    type: string
                    description: Send this URL to your user. Expires in 5 minutes.
                  expiresInMinutes:
                    type: integer
              example:
                hostedFormUrl: "https://gateway.mewcp.com/connect/static?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiJ4eHgiLCJwcm92aWRlclNsdWciOiJnZW1pbmkiLCJleHRlcm5hbFVzZXJJZCI6InVzZXJfYWJjMTIzIiwiaWF0IjoxNzgwNDg4MTk4LCJleHAiOjE3ODA0ODg0OTh9.signature"
                expiresInMinutes: 5
        "400":
          description: Invalid provider, unknown provider slug, or provider uses OAuth (not static)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalid_provider:
                  summary: Provider not found
                  value:
                    error: invalid_provider
                    message: "Unknown provider: razorpay"
                wrong_auth_type:
                  summary: Provider uses OAuth, not static credentials
                  value:
                    error: invalid_provider
                    message: "Provider 'google-gmail' uses OAuth, not static credentials"
                missing_user_id:
                  summary: externalUserId missing
                  value:
                    error: bad_request
                    message: externalUserId is required
        "401":
          $ref: "#/components/responses/Unauthorized"

  /end-users:
    get:
      operationId: listEndUsers
      summary: List audience
      description: Returns all audience that have at least one active credential under your account, sorted by most recently updated.
      tags: [Audience]
      responses:
        "200":
          description: List of audience
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EndUser"
              example:
                - externalUserId: user_abc123
                  meta:
                    name: Jane Smith
                    email: jane@example.com
                  connectedProviders: [gemini, google-gmail]
                  credentialCount: 2
                  lastUpdated: "2026-06-03T12:04:17.154Z"
                - externalUserId: user_abc456
                  meta:
                    name: John Doe
                    email: john@example.com
                  connectedProviders: [google-gmail]
                  credentialCount: 1
                  lastUpdated: "2026-06-01T08:15:51.445Z"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /end-users/{externalUserId}:
    get:
      operationId: getEndUser
      summary: Get audience member details
      description: Returns an audience member's metadata and all their active credentials.
      tags: [Audience]
      parameters:
        - in: path
          name: externalUserId
          required: true
          schema:
            type: string
          description: Your internal user identifier
          example: user_abc123
      responses:
        "200":
          description: End-user details with credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  externalUserId:
                    type: string
                  meta:
                    $ref: "#/components/schemas/ExternalUserMeta"
                    nullable: true
                  credentials:
                    type: array
                    items:
                      $ref: "#/components/schemas/Credential"
              example:
                externalUserId: user_abc123
                meta:
                  name: Jane Smith
                  email: jane@example.com
                credentials:
                  - credentialId: 8cf89a9e5054754dc3941057202aed85
                    providerSlug: google-gmail
                    label: jane@example.com
                    authType: oauth
                    scopes:
                      - https://www.googleapis.com/auth/gmail.modify
                      - https://www.googleapis.com/auth/gmail.readonly
                      - https://www.googleapis.com/auth/gmail.send
                      - openid
                      - email
                      - profile
                    expiresAt: "2026-06-03T12:58:54.185Z"
                  - credentialId: 9e9c513174def62142b1e621fa8bc98e
                    providerSlug: gemini
                    label: "Gemini - user_abc123"
                    authType: static
                    scopes: []
                    expiresAt: null
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

    delete:
      operationId: revokeEndUser
      summary: Revoke all credentials for an audience member
      description: |
        Soft-deletes all active credentials for the audience member. The user will no longer be able
        to make MCP calls until they reconnect.

        This is a cascade operation and revokes all providers at once. To revoke a single
        credential, use `DELETE /end-users/{externalUserId}/credentials/{credentialId}`.
      tags: [Audience]
      parameters:
        - in: path
          name: externalUserId
          required: true
          schema:
            type: string
          example: user_abc123
      responses:
        "200":
          description: All credentials revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  revokedCount:
                    type: integer
                    description: Number of credentials that were revoked
              example:
                success: true
                revokedCount: 2
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /end-users/{externalUserId}/credentials/{credentialId}:
    delete:
      operationId: revokeEndUserCredential
      summary: Revoke a single audience member credential
      description: Revokes one specific credential for an audience member, leaving any other provider credentials intact.
      tags: [Audience]
      parameters:
        - in: path
          name: externalUserId
          required: true
          schema:
            type: string
          example: user_abc123
        - in: path
          name: credentialId
          required: true
          schema:
            type: string
          description: Credential ID returned by the list or get audience member endpoints
          example: 9e9c513174def62142b1e621fa8bc98e
      responses:
        "200":
          description: Credential revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  credentialId:
                    type: string
              example:
                success: true
                credentialId: 9e9c513174def62142b1e621fa8bc98e
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
